.trapezoid {
  border-bottom: 10px solid rgb(81, 87, 110);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 80%;
  margin: 0 auto;
  box-shadow: 9px 34px 37px 6px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 9px 34px 37px 6px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 9px 34px 37px 6px rgba(0, 0, 0, 0.61);
}
.gheNgoi {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  text-align: center;
  color: white;
  margin: 6px;
  transition-duration: 0.3s;
  background-color: rgba(46, 46, 164, 0.834);
  border: 1px solid white;
  box-shadow: 3px 19px 72px -18px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 3px 19px 72px -18px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 3px 19px 72px -18px rgba(0, 0, 0, 0.65);
}
.gheNgoi:hover {
  background-color: rgb(14, 14, 85);
}

.gheChonClick {
  background-color: green;
}

.vip {
  background-color: red;
}

.vip:hover {
  background-color: rgb(116, 43, 43);
}
.gheDaDat {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  text-align: center;
  color: white;
  margin: 6px;
  background-color: rgb(128, 128, 128);
  cursor: not-allowed;
  border: 1px solid white;
  box-shadow: 3px 19px 72px -18px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 3px 19px 72px -18px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 3px 19px 72px -18px rgba(0, 0, 0, 0.65);
}

.gheDaChon {
  background-color: green !important;
}


@media only screen and (max-width: 992px) {
  .gheNgoi {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 0.75rem;
  }
  .gheDaDat {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 0.75rem;
  }
  .text-right-item {
    font-size: 0.75rem;
  }
}
